// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leftside, .rightside {
  height: 100%;
  width: 100%;
}
.row {
  background-color: #F4F6F9;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 250px;
  position: relative;
}
.leftside {
  background-color: #FFFFFF;
}
.logo {
  align: center;
  padding-top: 30px;
}
.form {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
.login-title {
  color: #1B3AA4;
  font-size: 2em;
}
.line-field {
  background-color: #FFFFFF;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-color: #E5E5E5;
  border-width: 2px;
  display: block;
  width: 100%;
  padding: 10px;
  padding-top: 0px;
}
.red-label {
  color: #EC252E;
  font-size: 0.9em;
  margin-top: 15px;
  font-weight: bold;
}
.description {
  color: #B7B7B7;
}
.login-button {
  width: 100%;
  background-color: #F01C1D;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px;
}
.forgot-password-link {
  display: block;
  text-align-last: end;
  margin-top: 10px;
}
.forgot-password-link:hover {
  background-color: white;
  color: #000000;
  text-decoration: underline;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.floating-button {
  position: absolute;
  width: 20%;
  right: 0;
  margin-right: -10%;
}
.carousel-div {
  width: 500px;
}
